.test {
  margin: 0;
  padding: 0;
}

.test-conteiner {
  position: absolute;
}

.test-conteiner img {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100px;
  height: 662px;
  float: left;
  display: none;
  -webkit-animation-name: slide;
  -webkit-animation-duration: 1.8s;
  animation-name: slide;
  animation-duration: 1.8s;
}

.test-back {
  position: absolute;
  width: 600px;
}

.test-back img {
  margin: 0;
  padding: 0;
  width: 100px;
  height: 662px;
  float: left;
  display: block;
}

.first {
  left: 0;
}

.second {
  left: 100px;
}

.third {
  left: 200px;
}

.fourth {
  left: 300px;
}

.fifth {
  left: 400px;
}

.sixth {
  left: 500px;
}

.test2 {
  position: relative;
  width: 100%;
  min-height: 100px;
  overflow: hidden;
}

.test2-conteiner {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
}

.test2-conteiner img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 20%;
  height: 100%;
  float: left;
  display: none;
  -webkit-animation-name: slide2;
  -webkit-animation-duration: 1.8s;
  animation-name: slide2;
  animation-duration: 1.8s;
}

.test2-back {
  position: static;
  width: 100%;
  min-height: 200px;
  margin: 0;
  padding: 0;
}

.test2-back img {
  width: 20%;
  float: left;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Yeseva One', cursive;
  font-style: normal;
  font-weight: normal;
  line-height: 140.8%;
  letter-spacing: 0.105em;
}

input:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

.darkbutton {
  cursor: pointer;
  min-width: 211px;
  font-family: "Poiret One", cursive;
  text-transform: uppercase;
  background-color: #030303;
  border: none;
  border: 1px #030303 solid;
  color: #ffffff;
  margin: 0%;
  margin-left: 130px;
  margin-top: 47px;
  padding: 16px 44px 16px 44px;
  -webkit-transition: 200ms;
  transition: 200ms;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 140.8%;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

.darkbutton:hover {
  text-transform: uppercase;
  background-color: #EFDBCE;
  border: none;
  border: 1px #EFDBCE solid;
  color: #000000;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.lightbutton {
  cursor: pointer;
  min-width: 211px;
  font-family: "Poiret One", cursive;
  background-color: #ffffff;
  border: none;
  border: 1px #030303 solid;
  color: #000000;
  margin-left: 24px;
  padding: 16px 44px 16px 44px;
  -webkit-transition: 200ms;
  transition: 200ms;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 140.8%;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

.lightbutton:hover {
  text-transform: uppercase;
  background-color: #EFDBCE;
  border: none;
  border: 1px #EFDBCE solid;
  color: #000000;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.wrapper {
  width: 1170px;
  margin: 0 auto;
}

.header {
  font-family: "Poiret One", cursive;
  height: 75px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 1px #252525 solid;
  border-right: #252525 1px solid;
}

.serch {
  cursor: pointer;
  position: relative;
  width: 670px;
  height: 75px;
  margin: 0px;
  float: left;
  z-index: 200;
}

.serch-icon {
  float: left;
  width: 70px;
  height: 75px;
  -webkit-transition: 300ms;
  transition: 300ms;
  border-right: #252525 1px solid;
}

.serch-icon:hover {
  background-color: #efdbce3d;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.serch-icon img {
  margin: 26px 23px 0px 24px;
}

.serch-input {
  float: left;
  width: 359px;
  height: 74.5px;
  margin: 0;
  padding: 0;
  padding-left: 29px;
  border: none;
  border-bottom: #252525 1px solid;
}

.serch-button {
  float: left;
  height: 75.5px;
  width: 178px;
  font-size: 17px;
  margin: 0px;
  border-bottom: #252525 1px solid;
}

.none {
  height: 75px;
  width: 600px;
  margin-left: 70px;
  background-color: #ffffff;
  display: none;
  -webkit-animation-name: serch;
  -webkit-animation-duration: 0.6s;
  animation-name: serch;
  animation-duration: 0.6s;
}

.menu {
  height: 30px;
  width: 30px;
  text-align: right;
  margin: 26px 15px 0px 0px;
  float: right;
  display: none;
}

.menu-close {
  float: right;
  margin-right: 15px;
  margin-top: 19px;
}

.menu-icon {
  cursor: pointer;
}

.menu-mobile {
  overflow: hidden;
  position: fixed;
  z-index: 10000;
  width: 0px;
  height: 0px;
  right: 0;
  background-color: #00000000;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.menu-nav {
  padding-top: 56px;
  padding-left: 20%;
  list-style-type: none;
}

.menu-item {
  margin-top: 44px;
  color: #F5A375;
  font-family: Poiret One;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 140.8%;
  letter-spacing: 0.18em;
  text-transform: uppercase;
}

.menu-close {
  cursor: pointer;
}

.close {
  width: 100%;
  height: 100%;
  background-color: #121212;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.nav-item {
  width: 249px;
  height: 48px;
  border-bottom: #252525 1px solid;
  margin: 0;
  padding: 0;
  padding-top: 27px;
  margin-bottom: 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 140.8%;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: 300ms;
  transition: 300ms;
  z-index: 1000;
}

.nav-item:hover {
  background-color: #efdbce49;
  border-bottom: #efdbcef3 1px solid;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.nav-link {
  color: #030303;
  text-decoration: none;
}

.conteiner {
  width: 100%;
  border-top: #252525 1px solid;
}

.conteiner-lamp {
  display: none;
}

.conteiner-mobile {
  display: none;
}

.conteiner-content {
  position: relative;
  width: 1168px;
  min-height: 586px;
  margin: 0 auto;
  padding: 0;
  border-left: #252525 1px solid;
  border-right: #252525 1px solid;
}

.conteiner-title {
  position: absolute;
  width: 424px;
  top: 125px;
  right: 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 151.3%;
  letter-spacing: 0.105em;
  text-transform: uppercase;
}

.conteiner-slider {
  width: 600px;
  height: 662px;
  float: left;
  margin-top: -76px;
  overflow: hidden;
  background-color: #787878;
}

.conteiner-instagram {
  float: left;
  width: 70px;
  height: 587px;
  text-align: center;
}

.conteiner-instagram2 {
  display: none;
}

.conteiner-instagram img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.conteiner-instagram2 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.conteiner-instagramname {
  margin-top: 66px;
}

.conteiner-instagramlogo {
  margin-top: 43px;
}

.conteiner-line {
  height: 0.5px;
  width: 600px;
  border: none;
  background-color: #ffffff;
  position: absolute;
  top: -9px;
  left: 70px;
  z-index: 100;
}

.conteiner-mini {
  width: 498px;
  position: absolute;
  bottom: 0px;
  left: 670px;
  height: 148px;
  border-top: #252525 1px solid;
  overflow: hidden;
}

.conteiner-number {
  float: left;
  margin: 0;
  padding: 0;
  height: 50px;
  width: 50px;
  margin-top: 47px;
  margin-left: 79px;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 44px;
  line-height: 118.3%;
  font-weight: 800;
  color: #ffffff00;
  letter-spacing: 0.195em;
  text-transform: uppercase;
  -webkit-text-stroke: 1px black;
}

.conteiner-number2 {
  float: left;
  margin: 0;
  padding: 0;
  height: 50px;
  width: 50px;
  text-align: center;
  font-size: 50px;
  margin-top: 65px;
  margin-left: 23px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 118.3%;
  letter-spacing: 0.195em;
  text-transform: uppercase;
}

.conteiner-minislider {
  position: absolute;
  float: right;
  width: 240px;
  height: 148px;
  right: 0px;
  bottom: 0;
  overflow: hidden;
  z-index: 100;
  border: none;
  background-color: #252525;
}

.conteiner-minislider img {
  width: 100%;
  position: absolute;
}

.next, .next2 {
  display: none;
  -webkit-animation-name: next;
  -webkit-animation-duration: 1.8s;
  animation-name: next;
  animation-duration: 1.8s;
}

.conteiner1 {
  width: 100%;
  margin: 0;
  padding: 0;
  border-top: #252525 1px solid;
}

.conteiner1-mobile {
  display: none;
}

.conteiner1-content {
  position: relative;
  width: 1170px;
  min-height: 782px;
  margin: 0 auto;
  padding: 0;
  border-left: #252525 1px solid;
}

.conteiner1-text {
  position: absolute;
  width: 455px;
  height: 584px;
  margin: 75px  0px 141px 54px;
}

.conteiner1-text h1 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 140.8%;
  letter-spacing: 0.105em;
  text-transform: uppercase;
}

.conteiner1-text p {
  width: 430px;
  font-family: "Poiret One", cursive;
  font-size: 20px;
  margin: 0;
  margin-top: 40px;
  line-height: 147.8%;
  /* or 30px */
  letter-spacing: 0.06em;
}

.conteiner1-photo {
  position: absolute;
  width: 501px;
  right: 0px;
}

.conteiner1-vector {
  position: absolute;
  top: 26px;
  right: 85px;
}

.subtitle1 {
  position: relative;
  width: 100%;
  height: 150px;
  border-top: #252525 1px solid;
}

.subtitle1-conteiner {
  position: relative;
  width: 1169px;
  margin: 0 auto;
  top: -1px;
  height: 150px;
  border-right: #252525 1px solid;
}

.subtitle1-lamp {
  position: absolute;
  top: -75px;
  right: 0px;
}

.subtitle1-mobilelamp {
  width: 100%;
  position: absolute;
  top: 0;
  display: none;
}

.subtitle1-h1 {
  right: 72px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 0.11em;
}

.conteiner2 {
  width: 100%;
  margin: 0;
  padding: 0;
  border-top: #252525 1px solid;
}

.conteiner2-content {
  position: relative;
  width: 1169px;
  min-height: 763px;
  margin: 0 auto;
  padding: 0;
  border-left: #252525 1px solid;
}

.conteiner2-title {
  float: left;
  margin-left: 29px;
  margin-top: 180px;
  letter-spacing: 0.18em;
}

.conteiner2-photo {
  float: left;
  margin-left: 29px;
  left: 100px;
}

.conteiner2-text {
  float: left;
  font-family: "Poiret One", cursive;
  letter-spacing: 0.06em;
}

.conteiner2-vector {
  position: absolute;
  left: 105px;
  top: 40px;
}

.conteiner2-subtitle {
  position: absolute;
  top: 34px;
  left: 685px;
  width: 420px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: normal;
  font-size: 24px;
  line-height: 140.8%;
  /* or 34px */
  letter-spacing: 0.18em;
}

.conteiner2-ul {
  width: 238px;
  font-size: 20px;
  line-height: 147.8%;
  letter-spacing: 0.06em;
  margin: 0px;
  padding: 0px;
  margin-top: 179px;
  margin-left: 65px;
  list-style-type: none;
}

.conteiner2-li {
  width: 460px;
  min-height: 35px;
  margin: 0px;
  padding: 0px;
  margin-top: 40px;
  background-image: url(/img/livector.png);
  padding-left: 65px;
  background-position: 0px 0px;
  background-size: 35px 35px;
  background-repeat: no-repeat;
}

.conteiner3 {
  width: 100%;
  margin: 0;
  padding: 0;
  border-top: #252525 1px solid;
}

.conteiner3-content {
  position: relative;
  width: 1170px;
  min-height: 652px;
  margin: 0 auto;
  padding: 0;
}

.conteiner3-title {
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-left: 100px;
  margin-top: 80px;
  font-size: 30px;
  line-height: 140.8%;
  /* or 42px */
  letter-spacing: 0.105em;
}

.conteiner3-ul {
  font-family: "Poiret One", cursive;
  width: 428px;
  font-size: 20px;
  line-height: 147.8%;
  /* or 30px */
  letter-spacing: 0.06em;
  margin: 0px;
  padding: 0px;
  margin-top: 62px;
  margin-left: 100px;
  list-style-type: none;
}

.conteiner3-li {
  text-transform: uppercase;
  width: 960px;
  min-height: 35px;
  margin: 0px;
  padding: 0px;
  padding-top: 2px;
  margin-top: 40px;
  background-image: url(/img/livector2.png);
  padding-left: 65px;
  background-position: 0px 0px;
  background-size: 35px 35px;
  background-repeat: no-repeat;
}

.conteiner3-hr {
  margin-top: 40px;
  border-top: 1px #EFDBCE solid;
  width: 1030px;
}

.subtitle2 {
  position: relative;
  width: 100%;
  height: 150px;
  border-top: #252525 1px solid;
}

.subtitle2-conteiner {
  position: relative;
  width: 1169px;
  margin: 0 auto;
  top: -1px;
  height: 150px;
  border-left: #252525 1px solid;
}

.subtitle2-lamp {
  position: absolute;
  top: -75px;
  left: 0px;
}

.subtitle2-mobilelamp {
  width: 100%;
  position: absolute;
  top: 0;
  display: none;
}

.subtitle2-h1 {
  left: 72px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  font-size: 40px;
  line-height: 140.8%;
  /* or 56px */
  letter-spacing: 0.11em;
  text-transform: uppercase;
}

.conteiner4 {
  width: 100%;
  margin: 0;
  padding: 0;
  border-top: #252525 1px solid;
}

.conteiner4-content {
  position: relative;
  width: 1169px;
  min-height: 647px;
  margin: 0 auto;
  padding: 0;
  border-right: #252525 1px solid;
}

.conteiner4-title {
  position: absolute;
  right: 39px;
  top: 116px;
}

.conteiner4-photo {
  position: absolute;
  right: 100px;
}

.conteiner4-text {
  position: absolute;
  font-family: "Poiret One", cursive;
}

.conteiner4-vector {
  position: absolute;
  right: 136px;
  top: 55px;
}

.conteiner4-subtitle {
  position: absolute;
  top: 34px;
  left: 70px;
  width: 420px;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 140.8%;
  /* or 34px */
  letter-spacing: 0.18em;
}

.conteiner4-ul {
  width: 540px;
  font-size: 20px;
  line-height: 147.8%;
  /* identical to box height, or 30px */
  letter-spacing: 0.06em;
  margin: 0px;
  padding: 0px;
  margin-top: 179px;
  margin-left: 5px;
  list-style-type: none;
}

.conteiner4-li {
  width: 540px;
  min-height: 35px;
  margin: 0px;
  padding: 0px;
  padding-top: 2px;
  margin-top: 30px;
  background-image: url(/img/livector.png);
  padding-left: 65px;
  background-position: 0px 0px;
  background-size: 35px 35px;
  background-repeat: no-repeat;
}

.conteiner4-button {
  margin-left: 70px;
}

.conteiner5 {
  width: 100%;
  margin: 0;
  padding: 0;
  border-top: #252525 1px solid;
}

.conteiner5-content {
  position: relative;
  width: 1170px;
  min-height: 925px;
  margin: 0 auto;
  padding: 0;
}

.conteiner5-content img {
  position: absolute;
}

.conteiner5-img1 {
  position: absolute;
  top: 100px;
  left: 51px;
}

.conteiner5-img3 {
  position: absolute;
  top: 150px;
  left: 422px;
}

.conteiner5-img4 {
  position: absolute;
  top: 100px;
  left: 843px;
}

.conteiner5-img2 {
  position: absolute;
  top: 500px;
  left: 51px;
}

.conteiner5-img5 {
  position: absolute;
  top: 500px;
  left: 843px;
}

.conteiner5-vector1 {
  position: absolute;
  left: 510px;
  top: 752px;
  width: 36px;
  cursor: pointer;
}

.conteiner5-vector2 {
  position: absolute;
  right: 490px;
  top: 752px;
  width: 36px;
  cursor: pointer;
}

.photo3 {
  width: 338px;
}

.photo1, .photo2, .photo5, .photo4 {
  width: 283px;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.topArc {
  -webkit-animation-name: topArc;
  -webkit-animation-duration: 1.5s;
  animation-name: topArc;
  animation-duration: 1.5s;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.bottomArc {
  -webkit-animation-name: bottomArc;
  -webkit-animation-duration: 1.5s;
  animation-name: bottomArc;
  animation-duration: 1.5s;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.roundArc {
  -webkit-animation-name: roundArc;
  -webkit-animation-duration: 1.5s;
  animation-name: roundArc;
  animation-duration: 1.5s;
  border-radius: 50%;
}

.conteiner6 {
  width: 100%;
  margin: 0;
  padding: 0;
  border-top: #252525 1px solid;
  border-bottom: #252525 1px solid;
}

.conteiner6-content {
  position: relative;
  width: 1169px;
  min-height: 621px;
  margin: 0 auto;
  padding: 0;
  border-right: #252525 1px solid;
}

.conteiner6-title {
  position: absolute;
  right: 39px;
  top: 56px;
}

.conteiner6-photo {
  position: absolute;
  right: 100px;
}

.conteiner6-text {
  position: absolute;
  font-family: "Poiret One", cursive;
}

.conteiner6-vector {
  position: absolute;
  right: 136px;
  top: 55px;
}

.conteiner6-subtitle {
  position: absolute;
  top: 34px;
  left: 0px;
  width: 420px;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 140.8%;
  /* or 34px */
  letter-spacing: 0.18em;
}

.conteiner6-p {
  width: 638px;
  margin-top: 173px;
  font-size: 20px;
  line-height: 147.8%;
  /* or 30px */
  letter-spacing: 0.06em;
}

.conteiner6-button {
  margin-top: 40px;
  margin-left: 0px;
}

.conteiner7 {
  width: 100%;
  margin: 0;
  padding: 0;
  border-top: #252525 1px solid;
  border-bottom: #252525 1px solid;
}

.conteiner7-content {
  position: relative;
  width: 1170px;
  min-height: 621px;
  margin: 0 auto;
  padding: 0;
}

.conteiner7-title {
  margin: 0;
  padding: 0;
  height: 55px;
  margin-top: 87px;
  margin-left: 100px;
  font-family: Poiret One;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 140.8%;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: #050505;
  background-image: url(/img/livector3.png);
  background-position: 0px 0px;
  background-size: 48px 48px;
  background-repeat: no-repeat;
  padding-left: 100px;
  padding-top: 8px;
}

.conteiner7-text {
  margin: 0;
  padding: 0;
  width: 864px;
  margin-top: 35px;
  margin-left: 100px;
  font-family: Poiret One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 147.8%;
  letter-spacing: 0.06em;
  color: #000000;
  padding-left: 100px;
}

.conteiner7-lightbutton {
  margin: 0;
  float: left;
}

.conteiner7-darkbutton {
  margin: 0;
  margin-left: 30px;
  float: left;
}

.conteiner8 {
  width: 100%;
  border-top: #252525 1px solid;
}

.conteiner8-lamp {
  display: none;
}

.conteiner8-content {
  position: relative;
  width: 1168px;
  min-height: 580px;
  margin: 0 auto;
  padding: 0;
  border-left: #252525 1px solid;
  border-right: #252525 1px solid;
}

.conteiner8-title {
  float: left;
  width: 312px;
  margin-top: 76px;
  margin-left: 90px;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 151.3%;
  letter-spacing: 0.105em;
  text-transform: uppercase;
}

.conteiner8-title p {
  margin: 0px 10px 0px 10px;
  padding: 0;
  float: left;
}

.conteiner8-text {
  float: left;
  width: 330px;
  margin-left: 100px;
  margin-top: 30px;
}

.conteiner8-text p {
  margin: 0;
  padding: 0;
  font-family: Poiret One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 147.8%;
  /* or 30px */
  letter-spacing: 0.06em;
  color: #000000;
}

.conteiner8-your {
  color: #EFDBCE;
}

.conteiner8-photo {
  float: right;
}

.conteiner8-instagram {
  float: left;
  width: 70px;
  height: 580px;
  text-align: center;
  border-right: #252525 1px solid;
}

.conteiner8-instagram2 {
  display: none;
}

.conteiner8-instagram img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.conteiner8-instagram2 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.conteiner8-instagramname {
  margin-top: 50px;
}

.conteiner8-instagramlogo {
  margin-top: 43px;
}

.conteinerStyle {
  width: 100%;
  border-top: #252525 1px solid;
  border-bottom: #252525 1px solid;
}

.conteinerStyle-content {
  position: relative;
  width: 1168px;
  min-height: 1018px;
  margin: 0 auto;
  padding: 0;
  border-left: #252525 1px solid;
  border-right: #252525 1px solid;
  border-bottom: #252525 1px solid;
}

.conteinerStyle-content a {
  text-decoration: none;
  z-index: 1000;
  width: 100%;
  margin: 0;
}

.conteinerStyle-link {
  display: none;
  opacity: 0%;
  z-index: 100;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: Poiret One;
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  text-align: center;
  line-height: 140.8%;
  letter-spacing: 0.265em;
  text-transform: uppercase;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.conteinerStyle-content img {
  width: 100%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.conteinerStyle-styleitem {
  position: absolute;
  cursor: pointer;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.conteinerStyle-item1 {
  top: 196px;
  left: 123px;
  width: 190px;
  height: 190px;
  z-index: 1;
}

.conteinerStyle-item2 {
  top: 100px;
  left: 388px;
  width: 290px;
  height: 358px;
  z-index: 2;
}

.conteinerStyle-item3 {
  top: 263px;
  left: 806px;
  width: 237px;
  height: 168px;
  z-index: 4;
}

.conteinerStyle-item4 {
  top: 436px;
  left: 219px;
  width: 201px;
  height: 248px;
  z-index: 1;
}

.conteinerStyle-item5 {
  top: 586px;
  left: 395px;
  width: 281px;
  height: 143px;
  z-index: 4;
}

.conteinerStyle-item6 {
  top: 402px;
  left: 643px;
  width: 281px;
  height: 442px;
  z-index: 3;
}

.conteinerStyle-item1 p {
  padding-top: 45%;
  height: 100%;
}

.conteinerStyle-item2 p {
  padding-top: 60%;
  height: 63%;
}

.conteinerStyle-item3 p {
  padding-top: 30%;
  height: 80%;
}

.conteinerStyle-item4 p {
  padding-top: 50%;
  height: 105%;
}

.conteinerStyle-item5 p {
  padding-top: 20%;
  height: 72%;
}

.conteinerStyle-item6 p {
  padding-top: 71%;
  height: 71%;
}

.conteinerStyle-active {
  width: 360px;
  padding: 10px;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
  z-index: 1000;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.conteinerStyle-active img {
  display: block;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.conteinerStyle-active:hover img {
  opacity: 100%;
}

.conteinerStyle-active:hover p {
  opacity: 100%;
  display: block;
}

.move :hover {
  margin-top: -10px;
  margin-left: -10px;
  width: 120%;
}

.hoverBlack {
  display: none;
  opacity: 0%;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.buttons {
  height: 55px;
  width: 458px;
  margin: 65px auto 90px auto;
}

.subtitlemore1 {
  background-image: url(/img/subtitle/1.png);
}

.footer {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 691px;
  margin: 0 auto;
  overflow: hidden;
}

.footer-form {
  width: 27%;
  position: relative;
  float: left;
  margin-top: 103px;
  margin-left: 13%;
}

.footer-photo {
  float: left;
  width: 50%;
  z-index: -40;
}

.footer-vector1 {
  position: absolute;
  top: 30px;
  left: 30%;
}

.footer-vector2 {
  position: absolute;
  top: 130px;
  left: 20%;
}

.footer-vector3 {
  position: absolute;
  top: 230px;
  left: 0%;
}

.footer-vector4 {
  position: absolute;
  top: 30px;
  left: 35%;
}

.footer-title {
  margin: 0px;
  padding: 0px;
  margin-bottom: 44px;
  text-transform: uppercase;
  width: 333px;
  font-size: 30px;
  line-height: 140.8%;
  /* or 42px */
  letter-spacing: 0.105em;
}

.footer-form input {
  font-family: Poiret One;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 140.8%;
  /* or 21px */
  letter-spacing: 0.15em;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.46);
}

.footer-input1 {
  float: right;
  margin-right: 28px;
  margin-top: 0px;
  width: 80%;
  height: 50px;
  padding-left: 26px;
  padding-right: 0px;
  border: none;
  background-image: url(/img/livector.png);
  background-position: 100% 50%;
  background-repeat: no-repeat;
  border: #252525 1px solid;
  border-right: none;
  z-index: 100;
}

.footer-input2 {
  margin-top: 17px;
  margin-left: -0%;
  width: 85%;
  height: 50px;
  padding-left: 45px;
  padding-right: 26px;
  border: none;
  background-image: url(/img/livector.png);
  background-position: 0% 50%;
  background-repeat: no-repeat;
  z-index: 100;
  border: #252525 1px solid;
  border-left: none;
}

.footer-input3 {
  float: right;
  margin-top: 17px;
  margin-right: 50px;
  width: 82%;
  height: 110px;
  padding: 13.5px 4%;
  border: none;
  z-index: 100;
  border: #252525 1px solid;
  border-right: none;
}

.footer-button {
  float: right;
  margin-right: 0px;
}

.footer-livector1 {
  position: absolute;
  right: 85px;
  margin-top: 50px;
}

.footer-livector2 {
  position: absolute;
  margin-top: 120px;
  left: -23px;
}

.circle {
  position: absolute;
  border: 1px solid;
  border-radius: 50%;
  background-color: white;
  z-index: -1;
}

.circle-1 {
  right: 0;
  margin-top: 0px;
  height: 52px;
  width: 52px;
}

.circle-3 {
  left: 0;
  margin-top: 17px;
  left: -27px;
  height: 52px;
  width: 52px;
}

.circle-2 {
  width: 139px;
  height: 137px;
  right: 0;
  margin-right: -22px;
  margin-top: 17px;
}

.small {
  min-height: 648px;
}

.small-photo {
  height: 648px;
}

.small-subtitle {
  margin-left: 24px;
}

.small-ul {
  margin-left: 36px;
  margin-top: 160px;
}

.small-button {
  margin-left: 96px;
}

@-webkit-keyframes serch {
  from {
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
            clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  }
}

@keyframes serch {
  from {
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
            clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  }
}

@-webkit-keyframes next {
  from {
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
            clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }
  to {
    -webkit-clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
            clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
  }
}

@keyframes next {
  from {
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
            clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }
  to {
    -webkit-clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
            clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
  }
}

@-webkit-keyframes slide {
  from {
    width: 0px;
  }
  to {
    width: 100px;
  }
}

@keyframes slide {
  from {
    width: 0px;
  }
  to {
    width: 100px;
  }
}

@-webkit-keyframes slide2 {
  from {
    width: 0%;
  }
  to {
    width: 20%;
  }
}

@keyframes slide2 {
  from {
    width: 0%;
  }
  to {
    width: 20%;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes topArc {
  from {
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    opacity: .4;
  }
  to {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    opacity: 1;
  }
}

@keyframes topArc {
  from {
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    opacity: .4;
  }
  to {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    opacity: 1;
  }
}

@-webkit-keyframes bottomArc {
  from {
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    opacity: .4;
  }
  to {
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    opacity: 1;
  }
}

@keyframes bottomArc {
  from {
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    opacity: .4;
  }
  to {
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    opacity: 1;
  }
}

@-webkit-keyframes roundArc {
  from {
    border-radius: 0%;
    opacity: .4;
  }
  to {
    border-radius: 50%;
    opacity: 1;
  }
}

@keyframes roundArc {
  from {
    border-radius: 0%;
    opacity: .4;
  }
  to {
    border-radius: 50%;
    opacity: 1;
  }
}

@media screen and (max-width: 700px) {
  .wrapper {
    width: 100%;
    margin: 0 auto;
  }
  .header {
    font-family: "Poiret One", cursive;
    height: 75px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-left: none;
    border-right: none;
  }
  .none {
    display: block;
  }
  .serch {
    width: 70%;
    margin-left: 4.5%;
    border-left: 1px #252525 solid;
  }
  .serch-icon {
    border-right: none;
  }
  .serch-form {
    width: 70%;
  }
  .serch-input {
    display: block;
    float: left;
    width: 100%;
    height: 74.5px;
    margin: 0;
    padding: 0;
    padding-left: 3%;
    border: none;
    border-bottom: #252525 1px solid;
  }
  .serch-button {
    display: none;
    float: left;
    height: 75.5px;
    width: 178px;
    font-size: 17px;
    margin: 0px;
    border-bottom: #252525 1px solid;
  }
  .nav {
    display: none;
  }
  .menu {
    display: block;
  }
  .menu img {
    width: 100%;
  }
  .conteiner-content {
    min-height: 40px;
    height: auto;
    width: 91%;
    margin-left: 4.5%;
    margin-right: 4.5%;
    border-left: 1px #03030300 solid;
    z-index: 1;
  }
  .conteiner-slider {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }
  .conteiner-mobile {
    position: static;
    width: 100%;
    display: block;
    min-height: 350px;
    overflow: hidden;
    border: none;
    margin: 0;
    padding: 0;
    border-top: 1px #030303 solid;
    border-left: 1px #030303 solid;
    margin-left: -1px;
    overflow: hidden;
  }
  .conteiner-mobile img {
    border-bottom: none;
  }
  .conteiner-lamp {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: auto;
  }
  .conteiner-instagram {
    display: none;
  }
  .conteiner-instagram2 {
    display: block;
    float: left;
    width: 15%;
    text-align: center;
    height: 362px;
    background-color: #ffffff;
    z-index: 100;
    border-right: 1px #030303 solid;
    border-bottom: 1px #030303 solid;
  }
  .conteiner-instagramname {
    height: 205px;
    margin-top: 69px;
  }
  .conteiner-instagramlogo {
    margin-top: 15px;
    width: 21px;
  }
  .conteiner-title {
    float: left;
    font-size: 33px;
    margin-top: 0px;
    width: 211px;
    margin: 0 auto;
    right: none;
    left: 23px;
    top: 68px;
  }
  .conteiner-line {
    display: none;
  }
  .conteiner-slider {
    position: absolute;
    display: none;
    width: 100%;
    border: none;
  }
  .conteiner-minislider {
    display: none;
  }
  .conteiner-mini {
    display: none;
  }
  .first {
    left: 0;
  }
  .second {
    left: 20%;
  }
  .third {
    left: 40%;
  }
  .fourth {
    left: 60%;
  }
  .fifth {
    left: 80%;
  }
  .sixth {
    display: none;
  }
  .conteiner1 {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .conteiner1-mobile {
    display: block;
  }
  .conteiner1-content {
    position: relative;
    width: 88%;
    margin-left: 6%;
    margin-right: 6%;
    min-height: 782px;
    margin: 0 auto;
    padding: 0;
    border: none;
    padding-bottom: 70px;
    padding-top: 70px;
  }
  .conteiner1-text {
    position: static;
    width: 100%;
    height: auto;
    margin: 71px  0px 0px 0px;
  }
  .conteiner1-text h1 {
    display: none;
  }
  .conteiner1-mobile h1 {
    position: static;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 70px;
    text-align: center;
    font-size: 20px;
    line-height: 140.8%;
    letter-spacing: 0.105em;
    text-transform: uppercase;
  }
  .conteiner1-text p {
    width: 100%;
    margin-top: px;
    font-size: 18px;
    line-height: 147.8%;
    letter-spacing: 0.06em;
  }
  .conteiner1-photo {
    position: static;
    width: 100%;
  }
  .conteiner1-vector {
    position: absolute;
    width: 85%;
    top: 220px;
    right: none;
    left: -3%;
  }
  .conteiner2-content {
    position: relative;
    width: 100%;
    min-height: 1400px;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 10px;
    border-left: #252525 1px solid;
  }
  .conteiner2-title {
    width: 4%;
    margin-left: 8%;
    margin-top: 26%;
  }
  .conteiner2-photo {
    position: static;
    width: 80%;
    margin-left: 8%;
    left: 100px;
  }
  .conteiner2-text {
    min-height: 782px;
    position: relative;
    width: 88%;
    padding-left: 6%;
    padding-right: 6%;
    border-top: #252525 1px solid;
  }
  .conteiner2-vector {
    width: 70%;
    left: 25%;
  }
  .conteiner2-subtitle {
    width: 88%;
    position: static;
    margin-top: 55px;
    font-size: 18px;
    line-height: 155.8%;
    letter-spacing: 0.18em;
    text-transform: uppercase;
  }
  .conteiner2-ul {
    width: 88%;
    font-size: 18px;
    line-height: 147.8%;
    letter-spacing: 0.06em;
    margin: 0px;
    padding: 0px;
    padding-bottom: 30px;
    margin-top: 0px;
    margin-left: 0px;
    list-style-type: none;
  }
  .conteiner2-li {
    width: 90%;
    min-height: 35px;
    margin: 0px;
    padding: 0px;
    margin-top: 40px;
    background-image: url(/img/livector.png);
    padding-left: 65px;
    background-position: 0px 0px;
    background-size: 35px 35px;
    background-repeat: no-repeat;
  }
  .small {
    min-height: 1100px;
  }
  .small-photo {
    height: auto;
  }
  .conteiner2 button {
    width: 100%;
    margin: 0;
    margin-top: 30px;
  }
  .conteiner3-content {
    width: 100%;
    padding-bottom: 60px;
  }
  .conteiner3-title {
    margin: 0;
    padding: 0;
    padding-top: 60px;
    text-align: center;
    font-size: 20px;
    line-height: 140.8%;
    letter-spacing: 0.105em;
  }
  .conteiner3-ul {
    margin: 0;
    padding: 0;
    width: 88%;
    margin-left: 6%;
    margin-right: 6%;
    font-size: 18px;
    line-height: 147.8%;
    letter-spacing: 0.06em;
  }
  .conteiner3-li {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 60px;
    background: none;
    text-transform: capitalize;
  }
  .conteiner3-hr {
    margin-top: 60px;
    width: 100%;
  }
  .conteiner4 {
    border-top: none;
  }
  .conteiner4-content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    border-top: #252525 1px solid;
    border-right: none;
    padding-bottom: 20px;
  }
  .conteiner4-title {
    position: static;
    width: 4%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-left: 8%;
    margin-top: 25%;
    top: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .conteiner4-photo {
    float: left;
    position: static;
    width: 80%;
    margin-left: 0%;
    border-right: #252525 1px solid;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .conteiner4-text {
    float: right;
    padding: 0;
    margin: 0;
    min-height: 782px;
    position: relative;
    width: 88%;
    padding-left: 6%;
    padding-right: 6%;
    border-top: #252525 1px solid;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .conteiner4-vector {
    width: 70%;
    left: 5%;
    top: 40px;
  }
  .conteiner4-subtitle {
    width: 88%;
    position: static;
    margin-top: 55px;
    font-size: 18px;
    line-height: 155.8%;
    letter-spacing: 0.18em;
    text-transform: uppercase;
  }
  .conteiner4-ul {
    width: 88%;
    font-size: 18px;
    line-height: 147.8%;
    letter-spacing: 0.06em;
    margin: 0px;
    padding: 0px;
    padding-bottom: 30px;
    margin-top: 0px;
    margin-left: 0px;
    list-style-type: none;
  }
  .conteiner4-li {
    width: 90%;
    min-height: 35px;
    margin: 0px;
    padding: 0px;
    margin-top: 40px;
    background-image: url(/img/livector.png);
    padding-left: 65px;
    background-position: 0px 0px;
    background-size: 35px 35px;
    background-repeat: no-repeat;
  }
  .conteiner4 button {
    width: 100%;
    margin: 0;
    margin-top: 30px;
  }
  .conteiner5 {
    width: 100%;
    border-top: none;
  }
  .conteiner5-content {
    position: relative;
    width: 88%;
  }
  .conteiner5-content img {
    position: static;
    margin-bottom: 60px;
  }
  .conteiner5-img1 {
    position: static;
    top: 0px;
    left: 0px;
    width: 100%;
    display: none;
  }
  .conteiner5-img3 {
    position: static;
    top: 0px;
    left: 0px;
    width: 100%;
  }
  .conteiner5-img4 {
    position: static;
    top: 0px;
    left: 0px;
    width: 100%;
  }
  .conteiner5-img2 {
    position: static;
    top: 0px;
    left: 0px;
    width: 100%;
  }
  .conteiner5-img5 {
    position: static;
    top: 0px;
    left: 0px;
    width: 100%;
    display: none;
  }
  .conteiner5-vector1 {
    display: none;
  }
  .conteiner5-vector2 {
    display: none;
  }
  .photo3 {
    width: 100%;
  }
  .photo1, .photo2, .photo5, .photo4 {
    width: 100%;
  }
  .conteiner6 {
    border-top: none;
  }
  .conteiner6-content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    border-top: #252525 1px solid;
    border-right: none;
    padding-bottom: 60px;
  }
  .conteiner6-title {
    position: static;
    width: 4%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-left: 8%;
    margin-top: 27%;
    top: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .conteiner6-photo {
    float: left;
    position: static;
    width: 80%;
    margin-left: 0%;
    border-right: #252525 1px solid;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .conteiner6-text {
    float: right;
    padding: 0;
    margin: 0;
    min-height: 782px;
    position: relative;
    width: 88%;
    padding-left: 6%;
    padding-right: 6%;
    border-top: #252525 1px solid;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .conteiner6-vector {
    width: 70%;
    left: 5%;
    top: 40px;
  }
  .conteiner6-subtitle {
    width: 88%;
    position: static;
    margin-top: 55px;
    font-size: 18px;
    line-height: 155.8%;
    letter-spacing: 0.18em;
    text-transform: uppercase;
  }
  .conteiner6-p {
    width: 100%;
    margin-top: 40px;
  }
  .conteiner6 button {
    width: 100%;
    margin: 0;
    margin-top: 30px;
  }
  .subtitle1, .subtitle2 {
    height: 28px;
    padding: 31px 0px 31px 0px;
  }
  .subtitle1-conteiner, .subtitle2-conteiner {
    width: 100%;
    border-right: none;
    border-left: none;
  }
  .subtitle1-lamp, .subtitle2-lamp {
    display: none;
  }
  .subtitle1-mobilelamp, .subtitle2-mobilelamp {
    display: block;
    height: 100%;
  }
  .subtitle1-h1, .subtitle2-h1 {
    position: static;
    -webkit-transform: none;
            transform: none;
    text-align: center;
    position: static;
    font-size: 20px;
    line-height: 140.8%;
    letter-spacing: 0.105em;
    text-transform: uppercase;
  }
  .conteiner7 {
    width: 100%;
  }
  .conteiner7-content {
    position: relative;
    width: 88%;
    margin-left: 6%;
    min-height: 621px;
  }
  .conteiner7-title {
    margin: 50px 0px;
    padding: 0;
    width: 85%;
    padding-left: 15%;
    font-size: 18px;
    line-height: 155.8%;
    /* or 28px */
    letter-spacing: 0.18em;
  }
  .conteiner7-text {
    margin: 0;
    padding: 0;
    width: 85%;
    padding-left: 15%;
    font-size: 18px;
    line-height: 147.8%;
    /* or 27px */
    letter-spacing: 0.06em;
  }
  .conteiner7-lightbutton {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }
  .conteiner7-darkbutton {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }
  .conteiner8-content {
    min-height: 1050px;
    width: 91%;
    margin-left: 4.5%;
    margin-right: 4.5%;
    border-right: 1px #030303 solid;
    border-left: 1px #03030300 solid;
    z-index: 1;
  }
  .conteiner8-lamp {
    display: block;
    position: absolute;
    right: 0;
    width: 100%;
    height: auto;
  }
  .conteiner8-your {
    color: black;
  }
  .conteiner8-instagram {
    display: none;
  }
  .conteiner8-instagram2 {
    display: block;
    float: left;
    width: 60px;
    text-align: center;
    height: 362px;
    background-color: #ffffff;
    z-index: 100;
    border-right: 1px #030303 solid;
    border-bottom: 1px #030303 solid;
  }
  .conteiner8-instagramname {
    height: 205px;
    margin-top: 69px;
  }
  .conteiner8-instagramlogo {
    margin-top: 15px;
    width: 21px;
  }
  .conteiner8-title {
    float: left;
    font-size: 33px;
    width: 70%;
    margin: 0 auto;
    margin-top: 90px;
    margin-left: 2%;
  }
  .conteiner8-photo {
    position: static;
    padding: 0;
    margin: 0;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border-top: 1px #030303 solid;
    margin: 0;
    padding: 0;
  }
  .conteiner8-photo img {
    width: 100%;
  }
  .conteiner8-text {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 46px;
  }
  .conteinerStyle-content {
    width: 80%;
    min-height: 718px;
    margin: 0 auto;
    padding: 0;
    border: none;
    margin-left: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    padding-top: 60px;
  }
  .conteinerStyle-content img {
    position: static;
    top: 0%;
    left: 0%;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  .conteinerStyle-styleitem {
    position: relative;
    min-height: 0px;
    width: 80%;
    z-index: 1;
    margin: 0;
    padding: 0;
    margin-left: 10%;
    margin-bottom: 60px;
  }
  .conteinerStyle-item1 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    height: auto;
    top: 0;
    left: 0;
  }
  .conteinerStyle-item2 {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    height: auto;
    top: 0;
    left: 0;
  }
  .conteinerStyle-item3 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    height: auto;
    top: 0;
    left: 0;
  }
  .conteinerStyle-item4 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    height: auto;
    top: 0;
    left: 0;
  }
  .conteinerStyle-item5 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    height: auto;
    top: 0;
    left: 0;
  }
  .conteinerStyle-item6 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    height: auto;
    top: 0;
    left: 0;
  }
  .conteinerStyle-item1 p {
    padding-top: 0%;
    margin-top: 45%;
  }
  .conteinerStyle-item2 p {
    padding-top: 0%;
    margin-top: 40%;
  }
  .conteinerStyle-item3 p {
    padding-top: 0%;
    margin-top: 25%;
  }
  .conteinerStyle-item4 p {
    padding-top: 0%;
    margin-top: 55%;
  }
  .conteinerStyle-item5 p {
    padding-top: 0%;
    margin-top: 12%;
  }
  .conteinerStyle-item6 p {
    padding-top: 0%;
    margin-top: 50%;
  }
  .conteinerStyle-active {
    margin-left: 0%;
    width: 100%;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
    z-index: 1000;
    -webkit-transition: all 500ms;
    transition: all 500ms;
  }
  .conteinerStyle-link {
    color: #000000;
  }
  .conteinerStyle-active p {
    opacity: 100%;
    display: block;
  }
  .move :hover {
    margin-top: 0px;
    margin-left: -10%;
    width: 120%;
  }
  .hoverBlack {
    width: 10px;
    height: 0px;
    overflow: hidden;
    position: absolute;
    top: 100px;
    left: 0;
    display: none;
  }
  .buttons {
    width: 100%;
    padding-bottom: 40px;
  }
  .footer {
    height: auto;
    padding-bottom: 100px;
  }
  .footer-form {
    position: relative;
    width: 80%;
    margin: 0% 10%;
  }
  .footer-photo {
    float: left;
    height: 150%;
    width: auto;
    position: absolute;
  }
  .footer-vector1 {
    position: absolute;
    top: 30px;
    left: 30%;
  }
  .footer-vector2 {
    position: absolute;
    top: 130px;
    left: 20%;
  }
  .footer-vector3 {
    position: absolute;
    top: 230px;
    left: 0%;
  }
  .footer-vector4 {
    position: absolute;
    top: 30px;
    left: 35%;
  }
  .footer-title {
    height: 100%;
    text-align: center;
    padding: 0;
    margin: 70px auto;
    font-size: 20px;
    line-height: 140.8%;
    letter-spacing: 0.105em;
    text-transform: uppercase;
  }
  .footer-input1 {
    float: right;
    margin-right: 28px;
    margin-top: 0px;
    width: 80%;
    height: 50px;
    padding-left: 26px;
    padding-right: 0px;
    border: none;
    background-image: url(/img/livector.png);
    background-position: 100% 50%;
    background-repeat: no-repeat;
    border: #252525 1px solid;
    border-right: none;
    z-index: 100;
  }
  .footer-input2 {
    margin-top: 17px;
    margin-left: -0%;
    width: 85%;
    height: 50px;
    padding-left: 45px;
    padding-right: 26px;
    border: none;
    background-image: url(/img/livector.png);
    background-position: 0% 50%;
    background-repeat: no-repeat;
    z-index: 100;
    border: #252525 1px solid;
    border-left: none;
  }
  .footer-input3 {
    float: right;
    margin-top: 17px;
    margin-right: 50px;
    width: 82%;
    height: 110px;
    padding: 13.5px 4%;
    padding-right: 0px;
    border: none;
    z-index: 100;
    border: #252525 1px solid;
    border-right: none;
  }
  .footer-button {
    width: 100%;
    margin: 0;
    margin-top: 30px;
  }
  .footer-livector1 {
    position: absolute;
    right: 85px;
    margin-top: 50px;
  }
  .footer-livector2 {
    position: absolute;
    margin-top: 120px;
    left: -23px;
  }
}
