$dark:#030303;
$test:rgb(192, 192, 192);
$borderBlack:#252525;

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
}

.header {
    height: 75px;
    align-items: center;
    border-left: 1px $borderBlack solid;
}

.serch {
    width: 23px;
    height: 23px;
    text-align: center;
    margin:26px;
    float: left;
}

.menu {
    height: 23px;
    width: 23px;
    text-align: right;
    margin:26px 0px 26px 77px;
    float: right;
}

.nav {
    display: flex;
    float: right;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    &-item {
        width: 200px;
        height: 48px;
        border-bottom: $borderBlack 1px solid;
        // background-color: #f0f0f0;
        margin: 0;
        padding: 0;
        padding-top: 27px;
        font-size: 19px;
        text-align: center;
    }
    &-link {
        color: $dark;
        text-decoration: none;
    }
}

.conteiner1 {
    width: 100%;
    border-top: $borderBlack 1px solid;
    &-content {
        max-width: 1170px;
        height: 585px;
        margin: 0 auto;
        border-left: $borderBlack 1px solid;
        border-right: $borderBlack 1px solid;
    }
}