$dark:#030303;
$light:#EFDBCE;
$borderBlack:#252525;
$font1:'Poiret One', cursive;





.test{
    margin: 0;
    padding: 0;
    &-conteiner{
        // display: none;
        position: absolute;
    } 
    &-conteiner img{
        position: absolute;
        margin: 0;
        padding: 0;
        width: 100px;
        height: 662px;
        float: left;
        display: none;
        -webkit-animation-name: slide;
        -webkit-animation-duration: 1.8s;
        animation-name: slide;
        animation-duration: 1.8s;
    }
    &-back{
        position: absolute;
        width: 600px;
    }
    &-back img{
        margin: 0;
        padding: 0;
        width: 100px;
        height: 662px;
        float: left;
        display: block;
    }
}
.first{
   left: 0;
}
.second{
    left: 100px;
}
.third{
    left: 200px;
}
.fourth{
    left: 300px;
}
.fifth{
    left: 400px;
}
.sixth{
    left: 500px;
}

.test2{
    position: relative;
    width: 100%;
    min-height: 100px;
    overflow: hidden;
    &-conteiner{
        position: absolute;
        top: 0%;
        width: 100%;
        height: 100%;
    } 
    &-conteiner img{
        position: absolute;
        top: 0;
        bottom: 0;
        margin: 0;
        padding: 0;
        width: 20%;
        height: 100%;
        float: left;
        display: none;
        -webkit-animation-name: slide2;
        -webkit-animation-duration: 1.8s;
        animation-name: slide2;
        animation-duration: 1.8s;
    }
    &-back{
        position: static;
        width: 100%;
        min-height: 200px;
        margin: 0;
        padding: 0;
    }
    &-back img{
        width: 20%;
        float: left;
        margin: 0;
        padding: 0;
    }
}














body {
    font-family: 'Yeseva One', cursive;
    font-style: normal;
    font-weight: normal;
    line-height: 140.8%;
    letter-spacing: 0.105em;
}

input:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

// button:active, :focus {
//     background-color: rgb(94, 255, 0);
// }

.darkbutton {
    cursor: pointer;
    min-width: 211px;
    font-family: $font1;
    text-transform: uppercase;
    background-color: #030303;
    border: none;
    border: 1px #030303 solid;
    color: #ffffff;
    margin: 0%;
    margin-left: 130px;
    margin-top: 47px;
    padding: 16px 44px 16px 44px;
    transition: 200ms;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 140.8%;
    letter-spacing: 0.25em;
    text-transform: uppercase;
}

.darkbutton:hover{
    text-transform: uppercase;
    background-color: #EFDBCE;;
    border: none;
    border: 1px #EFDBCE solid;
    color: #000000;
    transition: 200ms;
}

.lightbutton{
    cursor: pointer;
    min-width: 211px;
    font-family: $font1;
    background-color: #ffffff;
    border: none;
    border: 1px #030303 solid;
    color: #000000;
    margin-left: 24px;
    padding: 16px 44px 16px 44px;
    transition: 200ms;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 140.8%;
    letter-spacing: 0.25em;
    text-transform: uppercase;
}

.lightbutton:hover{
    text-transform: uppercase;
    background-color: #EFDBCE;;
    border: none;
    border: 1px #EFDBCE solid;
    color: #000000;
    transition: 200ms;
}





















.wrapper {
    width: 1170px;
    margin: 0 auto;
}

.header {
    font-family: $font1;
    height: 75px;
    align-items: center;
    border-left: 1px $borderBlack solid;
    border-right: $borderBlack 1px solid;
}

.serch {
    cursor: pointer;
    position: relative;
    width: 670px;
    height: 75px;
    margin: 0px;
    float: left;
    z-index: 200;
    &-icon{
        float: left;
        width: 70px;
        height: 75px;
        transition: 300ms;
        border-right: $borderBlack 1px solid;
    }
    &-icon:hover{
        background-color: #efdbce3d;
        transition: 200ms;
    }
    &-icon img{
        margin: 26px 23px 0px 24px;
    }
    &-input{
        float: left;
        width: 359px;
        height: 74.5px;
        margin: 0;
        padding: 0;
        padding-left: 29px;
        border: none;
        border-bottom: $borderBlack 1px solid;
    }
    &-button{
        float: left;
        height: 75.5px;
        width: 178px;
        font-size: 17px;
        margin: 0px;
        border-bottom: $borderBlack 1px solid;
    }
}

.none{
    height: 75px;
    width: 600px;
    margin-left: 70px;
    background-color: #ffffff;
    display: none;
    -webkit-animation-name: serch;
    -webkit-animation-duration: 0.6s;
    animation-name: serch;
    animation-duration: 0.6s;
}

.menu {
    height: 30px;
    width: 30px;
    text-align: right;
    margin:26px 15px 0px 0px;
    float: right;
    display: none;
    &-close{
        float: right;
        margin-right: 15px;
        margin-top: 19px;
    }
    &-icon{
        cursor: pointer;
    }
    &-mobile{
        overflow: hidden;
        position: fixed;
        z-index: 10000;
        width: 0px;
        height: 0px;
        right: 0;
        background-color: #00000000;
        transition: all 500ms;
    }
    &-nav{
        padding-top: 56px;
        padding-left: 20%;
        list-style-type: none;
    }
    &-item{
        margin-top: 44px;
        color: #F5A375;
        font-family: Poiret One;
        font-style: normal;
        font-weight: normal;
        font-size: 19px;
        line-height: 140.8%;
        letter-spacing: 0.18em;
        text-transform: uppercase;
    }
    &-close{
        cursor: pointer;
    }
}

.close{
    width: 100%;
    height: 100%;
    background-color: #121212;
}

.nav {
    display: flex;
    float: right;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    &-item {
        width: 249px;
        height: 48px;
        border-bottom: $borderBlack 1px solid;
        margin: 0;
        padding: 0;
        padding-top: 27px;
        margin-bottom: 0px;
        font-style: normal;
        font-weight: normal;
        font-size: 19px;
        line-height: 140.8%;
        letter-spacing: 0.18em;
        text-transform: uppercase;
        text-align: center;
        transition: 300ms;
        z-index: 1000;
    }
    &-item:hover {
        background-color: #efdbce49;;
        border-bottom: #efdbcef3 1px solid;
        transition: 200ms;
    }
    &-link {
        color: $dark;
        text-decoration: none;
    }

}

.conteiner {
    width: 100%;
    border-top: $borderBlack 1px solid;
    &-lamp{
        display: none;
    }
    &-mobile{
        display: none;
    }

    &-content {
        position: relative;
        width: 1168px;
        min-height: 586px;
        margin: 0 auto;
        padding: 0;
        border-left: $borderBlack 1px solid;
        border-right: $borderBlack 1px solid;
    }
    &-title{
        position: absolute;
        width: 424px;
        top: 125px;
        right: 0px;
        font-style: normal;
        font-weight: normal;
        font-size: 50px;
        line-height: 151.3%;    
        letter-spacing: 0.105em;
        text-transform: uppercase;
    }
    &-slider {
        width: 600px;
        height: 662px;
        float: left;
        margin-top: -76px;
        overflow: hidden;
        background-color: #787878;
    }
    &-instagram {
        // display: inline-block;
        float: left;
        width: 70px;
        height: 587px;
        text-align: center;
    }
    &-instagram2{
        display: none;
    }
    &-instagram img{
        display: block;
        margin-left: auto;
        margin-right: auto
    }
    &-instagram2 img{
        display: block;
        margin-left: auto;
        margin-right: auto
    }
    &-instagramname{
        margin-top: 66px;
    }
    &-instagramlogo{
        margin-top: 43px;
    }
    &-line{
        height: 0.5px;
        width: 600px;
        border: none;
        background-color: #ffffff;
        position: absolute;
        top: -9px;
        left: 70px;
        z-index: 100;
    }
    &-mini{
        width: 498px;
        position: absolute;
        bottom: 0px;
        left: 670px;
        height: 148px;
        border-top: $borderBlack 1px solid;
        overflow: hidden;
    }
    &-number{
        float:left;
        margin: 0;
        padding: 0;
        height: 50px;
        width: 50px;
        margin-top: 47px;
        margin-left: 79px;
        text-align: center;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 800;
        font-size: 44px;
        line-height: 118.3%;
        font-weight: 800;
        color: #ffffff00;
        letter-spacing: 0.195em;
        text-transform: uppercase;
        -webkit-text-stroke: 1px black; 
    
    }
    &-number2{
        float: left;
        margin: 0;
        padding: 0;
        height: 50px;
        width: 50px;
        text-align: center;
        font-size: 50px;
        margin-top: 65px;
        margin-left: 23px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 200;
        font-size: 24px;
        line-height: 118.3%;
        letter-spacing: 0.195em;
        text-transform: uppercase;

    }
    &-minislider{
        position: absolute;
        float: right;
        width: 240px;
        height: 148px;
        right: 0px;
        bottom: 0;
        overflow: hidden;
        z-index: 100;
        border: none;
        background-color: #252525;
    }
    &-minislider img{
        width: 100%;
        position: absolute;
    }

}
.next, .next2{
    display: none;
    -webkit-animation-name: next;
    -webkit-animation-duration: 1.8s;
    animation-name: next;
    animation-duration: 1.8s;
}

.conteiner1 {
    width: 100%;
    margin: 0;
    padding: 0;
    border-top: $borderBlack 1px solid;
    &-mobile {
        display: none;
    }
    &-content {
        position: relative;
        width: 1170px;
        min-height: 782px;
        margin: 0 auto;
        padding: 0;
        border-left: $borderBlack 1px solid;
    }
    &-text {
        position: absolute;
        width: 455px;
        height: 584px;
        margin: 75px  0px 141px 54px;
    }
    &-text h1 {
        margin: 0;
        padding: 0;
        font-size: 30px;
        line-height: 140.8%;
        letter-spacing: 0.105em;
        text-transform: uppercase;
    }
    &-text p {
        width: 430px;
        font-family: $font1;
        font-size: 20px;
        margin: 0;
        margin-top: 40px;
        line-height: 147.8%;
        /* or 30px */

        letter-spacing: 0.06em;
    }
    &-photo {
        position: absolute;
        width: 501px;
        right: 0px;
        
    }
    &-vector{
        position: absolute;
        top: 26px;
        right: 85px;
    }
}

.subtitle1 {
    position: relative;
    width: 100%;
    height: 150px;
    border-top: $borderBlack 1px solid;
    &-conteiner {
        position: relative;
        width: 1169px;
        margin: 0 auto;
        top: -1px;
        height: 150px;
        border-right: $borderBlack 1px solid;
    }
    &-lamp{
        position: absolute;
        top:-75px;
        right: 0px;
    }
    &-mobilelamp{
        width: 100%;
        position: absolute;
        top: 0;
        display: none;
    }
    &-h1 {
        right: 72px;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 50%;                        
        transform: translate(0, -50%);
        font-size: 40px;
        text-transform: uppercase;
        letter-spacing: 0.11em;
    }
}

.conteiner2 {
    width: 100%;
    margin: 0;
    padding: 0;
    border-top: $borderBlack 1px solid;
    &-content {
        position: relative;
        width: 1169px;
        min-height: 763px;
        margin: 0 auto;
        padding: 0;
        border-left: $borderBlack 1px solid;
    }
    &-title{
        float: left;
        margin-left: 29px;
        margin-top: 180px;
        letter-spacing: 0.18em;
    }
    &-photo{
        float: left;
        margin-left: 29px;
        left: 100px;
    }
    &-text{
        float: left;
        font-family: $font1;
        letter-spacing: 0.06em;
    }
    &-vector{
        position: absolute;
        left: 105px;
        top: 40px;
        
    }
    &-subtitle{
        position: absolute;
        top: 34px;
        left: 685px;
        width: 420px;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: normal;
        font-size: 24px;
        line-height: 140.8%;
        /* or 34px */
        
        letter-spacing: 0.18em;
    }
    &-ul{
        width: 238px;
        font-size: 20px;
        line-height: 147.8%;
        letter-spacing: 0.06em;
        margin: 0px;
        padding: 0px;
        margin-top: 179px;
        margin-left: 65px;
        list-style-type: none;
    }
    &-li{
        width: 460px;
        min-height: 35px;
        margin: 0px;
        padding: 0px;
        margin-top: 40px;
        background-image: url(/img/livector.png);
        padding-left: 65px;
        background-position: 0px 0px;
        background-size: 35px 35px;
        background-repeat: no-repeat;
    }
}


.conteiner3 {
    width: 100%;
    margin: 0;
    padding: 0;
    border-top: $borderBlack 1px solid;
    &-content {
        position: relative;
        width: 1170px;
        min-height: 652px;
        margin: 0 auto;
        padding: 0;
    }
    &-title{
        text-transform: uppercase;
        padding: 0;
        margin: 0;
        margin-left: 100px;
        margin-top: 80px;
        font-size: 30px;
        line-height: 140.8%;
        /* or 42px */

        letter-spacing: 0.105em;
    }
    &-ul{
        font-family: $font1;
        width: 428px;
        font-size: 20px;
        line-height: 147.8%;
        /* or 30px */

        letter-spacing: 0.06em;
        margin: 0px;
        padding: 0px;
        margin-top: 62px;
        margin-left: 100px;
        list-style-type: none;
    }
    &-li{
        text-transform: uppercase;
        width: 960px;
        min-height: 35px;
        margin: 0px;
        padding: 0px;
        padding-top: 2px;
        margin-top: 40px;
        background-image: url(/img/livector2.png);
        padding-left: 65px;
        background-position: 0px 0px;
        background-size: 35px 35px;
        background-repeat: no-repeat;
    }
    &-hr{
        margin-top: 40px;
        border-top: 1px #EFDBCE solid;
        width: 1030px;
    }
}

.subtitle2 {
    position: relative;
    width: 100%;
    height: 150px;
    border-top: $borderBlack 1px solid;
    &-conteiner {
        position: relative;
        width: 1169px;
        margin: 0 auto;
        top: -1px;
        height: 150px;
        border-left: $borderBlack 1px solid;
    }
    &-lamp{
        position: absolute;
        top:-75px;
        left: 0px;
    }
    &-mobilelamp{
        width: 100%;
        position: absolute;
        top: 0;
        display: none;
    }
    &-h1 {
        left: 72px;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 50%;                        
        transform: translate(0, -50%);
        font-size: 40px;
        line-height: 140.8%;
        /* or 56px */

        letter-spacing: 0.11em;
        text-transform: uppercase;
    }
}

.conteiner4 {
    width: 100%;
    margin: 0;
    padding: 0;
    border-top: $borderBlack 1px solid;
    &-content {
        position: relative;
        width: 1169px;
        min-height: 647px;
        margin: 0 auto;
        padding: 0;
        border-right: $borderBlack 1px solid;
    }
    &-title{
        position: absolute;
        right: 39px;
        top: 116px;
    }
    &-photo{
        position: absolute;
        right: 100px;
    }
    &-text{
        position: absolute;
        font-family: $font1;
    }
    &-vector{
        position: absolute;
        right: 136px;
        top: 55px;
        
    }
    &-subtitle{
        position: absolute;
        top: 34px;
        left: 70px;
        width: 420px;
        text-transform: uppercase;
        font-size: 24px;
        line-height: 140.8%;
        /* or 34px */

        letter-spacing: 0.18em;
    }
    &-ul{
        width: 540px;
        font-size: 20px;
        line-height: 147.8%;
        /* identical to box height, or 30px */

        letter-spacing: 0.06em;
        margin: 0px;
        padding: 0px;
        margin-top: 179px;
        margin-left: 5px;
        list-style-type: none;
    }
    &-li{
        width: 540px;
        min-height: 35px;
        margin: 0px;
        padding: 0px;
        padding-top: 2px;
        margin-top: 30px;
        background-image: url(/img/livector.png);
        padding-left: 65px;
        background-position: 0px 0px;
        background-size: 35px 35px;
        background-repeat: no-repeat;
    }
    &-button{
        margin-left: 70px;
    }
}








.conteiner5 {
    width: 100%;
    margin: 0;
    padding: 0;
    border-top: $borderBlack 1px solid;
    &-content {
        position: relative;
        width: 1170px;
        min-height: 925px;
        margin: 0 auto;
        padding: 0;
    }
    &-content img{
        position: absolute;
    }
    &-img1{
        position: absolute;
        top: 100px;
        left: 51px;
    }
    &-img3{
        position: absolute;
        top: 150px;
        left: 422px;
    }
    &-img4{
        position: absolute;
        top: 100px;
        left: 843px;
    }
    &-img2{
        position: absolute;
        top: 500px;
        left: 51px;
    }
    &-img5{
        position: absolute;
        top: 500px;
        left: 843px;
    }
    &-vector1{
        position: absolute;
        left: 510px;
        top: 752px;
        width: 36px;
        cursor: pointer;
    }
    &-vector2{
        position: absolute;
        right: 490px;
        top: 752px;
        width: 36px;
        cursor: pointer;
    }
}
.photo3{
    width: 338px;
}
.photo1, .photo2, .photo5, .photo4{
    width: 283px;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
.topArc{
    -webkit-animation-name: topArc;
    -webkit-animation-duration: 1.5s;
    animation-name: topArc;
    animation-duration: 1.5s;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.bottomArc{
    -webkit-animation-name: bottomArc;
    -webkit-animation-duration: 1.5s;
    animation-name: bottomArc;
    animation-duration: 1.5s;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
.roundArc{
    -webkit-animation-name: roundArc;
    -webkit-animation-duration: 1.5s;
    animation-name: roundArc;
    animation-duration: 1.5s;
    border-radius: 50%;
}





.conteiner6 {
    width: 100%;
    margin: 0;
    padding: 0;
    border-top: $borderBlack 1px solid;
    border-bottom: $borderBlack 1px solid;
    &-content {
        position: relative;
        width: 1169px;
        min-height: 621px;
        margin: 0 auto;
        padding: 0;
        border-right: $borderBlack 1px solid;
    }
    &-title{
        position: absolute;
        right: 39px;
        top: 56px;
    }
    &-photo{
        position: absolute;
        right: 100px;
    }
    &-text{
        position: absolute;
        font-family: $font1;
    }
    &-vector{
        position: absolute;
        right: 136px;
        top: 55px;
        
    }
    &-subtitle{
        position: absolute;
        top: 34px;
        left: 0px;
        width: 420px;
        text-transform: uppercase;
        font-size: 24px;
        line-height: 140.8%;
        /* or 34px */

        letter-spacing: 0.18em;
    }
    &-p{
        width: 638px;
        margin-top: 173px;
        font-size: 20px;
        line-height: 147.8%;
        /* or 30px */

        letter-spacing: 0.06em;
    }
    &-button{
        margin-top: 40px;
        margin-left: 0px;
    }
}


.conteiner7 {
    width: 100%;
    margin: 0;
    padding: 0;
    border-top: $borderBlack 1px solid;
    border-bottom: $borderBlack 1px solid;
    &-content {
        position: relative;
        width: 1170px;
        min-height: 621px;
        margin: 0 auto;
        padding: 0;
    }
    &-title{
        margin: 0;
        padding: 0;
        height: 55px;
        margin-top: 87px;
        margin-left: 100px;
        font-family: Poiret One;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 140.8%;
        letter-spacing: 0.18em;
        text-transform: uppercase;
        color: #050505;
        background-image: url(/img/livector3.png);
        background-position: 0px 0px;
        background-size: 48px 48px;
        background-repeat: no-repeat;
        padding-left: 100px;
        padding-top: 8px;
    }
    &-text{
        margin: 0;
        padding: 0;
        width: 864px;
        margin-top: 35px;
        margin-left: 100px;
        font-family: Poiret One;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 147.8%;
        letter-spacing: 0.06em;
        color: #000000;
        padding-left: 100px;
    }
    &-lightbutton{
        margin: 0;
        float: left;
    }
    &-darkbutton{
        margin: 0;
        margin-left: 30px;
        float: left;
    }
}


.conteiner8 {
    width: 100%;
    border-top: $borderBlack 1px solid;
    &-lamp{
        display: none;
    }
    &-content {
        position: relative;
        width: 1168px;
        min-height: 580px;
        margin: 0 auto;
        padding: 0;
        border-left: $borderBlack 1px solid;
        border-right: $borderBlack 1px solid;
    }
    &-title{
        float: left;
        width: 312px;
        margin-top: 76px;
        margin-left: 90px;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 151.3%;    
        letter-spacing: 0.105em;
        text-transform: uppercase;
    }
    &-title p{
        margin: 0px 10px 0px 10px;
        padding: 0;
        float: left;
    }
    &-text{
        float: left;
        width: 330px;
        margin-left: 100px;
        margin-top: 30px;
    }
    &-text p{
        margin: 0;
        padding: 0;
        font-family: Poiret One;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 147.8%;
        /* or 30px */

        letter-spacing: 0.06em;

        color: #000000;
    }
    &-your{
        color: $light;
    }
    &-photo{
        float: right;
    }
    &-instagram {
        // display: inline-block;
        float: left;
        width: 70px;
        height: 580px;
        text-align: center;
        border-right: $borderBlack 1px solid;
    }
    &-instagram2{
        display: none;
    }
    &-instagram img{
        display: block;
        margin-left: auto;
        margin-right: auto
    }
    &-instagram2 img{
        display: block;
        margin-left: auto;
        margin-right: auto
    }
    &-instagramname{
        margin-top: 50px;
    }
    &-instagramlogo{
        margin-top: 43px;
    }

}


.conteinerStyle {
    width: 100%;
    border-top: $borderBlack 1px solid;
    border-bottom: $borderBlack 1px solid;
    &-content {
        position: relative;
        width: 1168px;
        min-height: 1018px;
        margin: 0 auto;
        padding: 0;
        border-left: $borderBlack 1px solid;
        border-right: $borderBlack 1px solid;
        border-bottom: $borderBlack 1px solid;
    }
    &-content a{
        text-decoration: none;
        z-index: 1000;
        width: 100%;
        margin: 0;
    }
    &-link{
        display: none;
        opacity: 0%;
        z-index: 100;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: Poiret One;
        color: rgb(255, 255, 255);
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        text-align: center;
        line-height: 140.8%;
        letter-spacing: 0.265em;
        text-transform: uppercase;
        transition: all 500ms;
    }
    &-content img{
        width: 100%;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        // margin-right: -50%;
        transform: translate(-50%, -50%);
        transition: all 500ms;
    }
    &-styleitem{
        position: absolute;
        // background-size: cover;
        // background-repeat: no-repeat;
        cursor: pointer;
        transition: all 500ms;
    }
    &-item1{
        top: 196px;
        left: 123px;
        width: 190px;
        height: 190px;
        z-index: 1;
    }
    &-item2{
        top: 100px;
        left: 388px;
        width: 290px;
        height: 358px;
        z-index: 2;
    }
    &-item3{
        top: 263px;
        left: 806px;
        width: 237px;
        height: 168px;
        z-index: 4;
    }
    &-item4{
        top: 436px;
        left: 219px;
        width: 201px;
        height: 248px;
        z-index: 1;
    }
    &-item5{
        top: 586px;
        left: 395px;
        width: 281px;
        height: 143px;
        z-index: 4;
    }
    &-item6{
        top: 402px;
        left: 643px;
        width: 281px;
        height: 442px;
        z-index: 3;
    }
    &-item1 p{
        padding-top: 45%;
        height: 100%;
    }
    &-item2 p{
        padding-top: 60%;
        height: 63%;
    }
    &-item3 p{
        padding-top: 30%;
        height: 80%;
    }
    &-item4 p{
        padding-top: 50%;
        height: 105%;
    }
    &-item5 p{
        padding-top: 20%;
        height: 72%;
    }
    &-item6 p{
        padding-top: 71%;
        height: 71%;
    }
    &-active{
        width: 360px;
        padding: 10px;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -40%);
        z-index: 1000;
        transition: all 500ms;
    }
    &-active img{
        display: block;
        transition: all 500ms;
    }
    &-active:hover img{
        opacity: 100%;
    }
    &-active:hover p{
        opacity: 100%;
        display: block;
    }
}


.move :hover{
    margin-top: -10px;
    margin-left: -10px;
    width: 120%;
}

.hoverBlack{
    display: none;
    opacity: 0%;
    transition: all 500ms;
}


.buttons{
    height: 55px;
    width: 458px;
    margin: 65px auto 90px auto;
}

.subtitlemore1 {
    background-image: url(/img/subtitle/1.png);
}

.footer {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 691px;
    margin: 0 auto;
    overflow: hidden;
    &-form{
        width: 27%;
        position: relative;
        float: left;
        margin-top: 103px;
        // margin-left: 130px;
        margin-left: 13%;
    }
    &-photo{
        float: left;
        width: 50%;
        z-index: -40;
    }
    &-vector1{
        position: absolute;
        top: 30px;
        left: 30%;
    }
    &-vector2{
        position: absolute;
        top: 130px;
        left: 20%;
    }
    &-vector3{
        position: absolute;
        top: 230px;
        left: 0%;
    }
    &-vector4{
        position: absolute;
        top: 30px;
        left: 35%;
    }
    &-title{
        margin: 0px;
        padding: 0px;
        margin-bottom: 44px;
        text-transform: uppercase;
        width: 333px;
        font-size: 30px;
        line-height: 140.8%;
        /* or 42px */

        letter-spacing: 0.105em;
    }
    &-form input{
        font-family: Poiret One;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 140.8%;
        /* or 21px */

        letter-spacing: 0.15em;
        text-transform: capitalize;

        color: rgba(0, 0, 0, 0.46);
    }
    &-input1{
        float: right;
        margin-right: 28px;
        margin-top: 0px;
        width: 80%;
        height: 50px;
        padding-left: 26px;
        padding-right: 0px;
        border: none;
        background-image: url(/img/livector.png);
        background-position: 100% 50%;
        background-repeat: no-repeat;
        border: $borderBlack 1px solid;
        border-right: none;
        z-index: 100;
    }
    &-input2{
        margin-top: 17px;
        margin-left: -0%;
        width: 85%;
        height: 50px;
        padding-left: 45px;
        padding-right: 26px;
        border: none;
        background-image: url(/img/livector.png);
        background-position: 0% 50%;
        background-repeat: no-repeat;
        z-index: 100;
        border: $borderBlack 1px solid;
        border-left: none;
    }
    &-input3{
        float: right;
        margin-top: 17px;
        margin-right: 50px;
        width: 82%;
        height: 110px;
        padding: 13.5px 4%;
        border: none;
        z-index: 100;
        border: $borderBlack 1px solid;
        border-right: none;
    }
    &-button{
        float: right;
        margin-right: 0px;
    }
    &-livector1{
        position: absolute;
        right: 85px;
        margin-top: 50px;
    }
    &-livector2{
        position: absolute;
        margin-top: 120px;
        left: -23px;
    }
}



.circle{
    position: absolute;
    border:  1px solid ;
    border-radius:50% ;
    background-color: white;
    z-index: -1;
    &-1{
        right: 0;
        margin-top: 0px;
        height: 52px;
        width: 52px;
    }
    &-3 {
        left: 0;
        margin-top: 17px;
        left: -27px;
        height: 52px;
        width: 52px;
    }
    &-2{
        width: 139px;
        height: 137px;
        right: 0;
        margin-right: -22px;
        margin-top: 17px;
    }
}

















.small{
    min-height: 648px;
    &-photo{
        height: 648px;
    }
    &-subtitle{
        margin-left: 24px;
    }
    &-ul{
        margin-left: 36px;
        margin-top:160px;
    }
    &-button{
        margin-left: 96px;
    }
}




@-webkit-keyframes serch {
    from {clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);} 
    to {clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);}
} 
  
@keyframes serch {
    from {clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);} 
    to {clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);}
}




@-webkit-keyframes next {
    from {clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);} 
    to {clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);}
} 
  
@keyframes next {
    from {clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);} 
    to {clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);}
}




@-webkit-keyframes slide {
    from {width: 0px;} 
    to {width: 100px;}
} 
@keyframes slide {
    from {width: 0px;} 
    to {width: 100px;}
}

@-webkit-keyframes slide2 {
    from {width: 0%;} 
    to {width: 20%;}
} 
@keyframes slide2 {
    from {width: 0%;} 
    to {width: 20%;}
}


@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}



@-webkit-keyframes topArc {
    from {
        border-top-left-radius: 0%;
        border-top-right-radius: 0%;
        opacity: .4;
    } 
    to {        
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        opacity: 1
    }
}
  
@keyframes topArc {
    from {
        border-top-left-radius: 0%;
        border-top-right-radius: 0%;
        opacity: .4;
    } 
    to {        
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        opacity: 1
    }
}



@-webkit-keyframes bottomArc {
    from {
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 0%;
        opacity: .4;
    } 
    to {        
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        opacity: 1
    }
}

@keyframes bottomArc {
    from {
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 0%;
        opacity: .4;
    } 
    to {        
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        opacity: 1
    }
}


@-webkit-keyframes roundArc {
    from {
        border-radius: 0%;
        opacity: .4;
    } 
    to {        
        border-radius: 50%;
        opacity: 1
    }
}
  
@keyframes roundArc {
    from {
        border-radius: 0%;
        opacity: .4;
    } 
    to {        
        border-radius: 50%;
        opacity: 1
    }
}









































@media screen and (max-width: 700px) {
    .wrapper {
        width: 100%;
        margin: 0 auto;
    }
    
    .header {
        font-family: $font1;
        height: 75px;
        align-items: center;
        border-left:none;
        border-right: none;
    }
    .none{
        display: block;
    }
    .serch{
        width: 70%;
        margin-left: 4.5%;
        border-left: 1px $borderBlack solid;
        &-icon{
            border-right: none;
        }
        &-form{
            width: 70%;
        }
        &-input{
            display: block;
            float: left;
            width: 100%;
            height: 74.5px;
            margin: 0;
            padding: 0;
            padding-left: 3%;
            border: none;
            border-bottom: $borderBlack 1px solid;
        }
        &-button{
            display: none;
            float: left;
            height: 75.5px;
            width: 178px;
            font-size: 17px;
            margin: 0px;
            border-bottom: $borderBlack 1px solid;
        }
    }
    .nav {
        display: none;
    }
    .menu {
        display: block;
    }
    .menu img{
        width: 100%;
    }
    .conteiner{
        &-content{
            min-height: 40px;
            height: auto;
            width: 91%;
            margin-left:4.5%;
            margin-right:4.5%;
            border-left: 1px #03030300 solid;
            z-index: 1;
        }
        &-slider {
            width: 100%;
            height: auto;
            margin: 0;
            padding: 0;
        }
        &-mobile{
            position: static;
            width: 100%;
            display: block;
            min-height: 350px;
            overflow: hidden;
            // z-index: 100;
            border: none;
            margin: 0;
            padding: 0;
            border-top: 1px #030303 solid;
            border-left: 1px #030303 solid;
            margin-left: -1px;
            overflow: hidden;
        }
        &-mobile img{

            border-bottom: none;
        }
        &-lamp{
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            height: auto;
        }
        &-instagram{
            display: none;
        }
        &-instagram2{
            display: block;
            float: left;
            width: 15%;
            text-align: center;
            height: 362px;
            background-color: #ffffff;
            z-index: 100;
            border-right: 1px #030303 solid;
            border-bottom: 1px #030303 solid;
        }
        &-instagramname{
            height: 205px;
            margin-top: 69px;
        }
        &-instagramlogo{
            margin-top: 15px;
            width: 21px;
        }
        &-title{
            float: left;
            font-size: 33px;
            margin-top: 0px;
            width: 211px;
            margin: 0 auto;
            right: none;
            left: 23px;
            top: 68px;
        }
        &-line{
            display: none;
        }
        &-slider{
            position: absolute;
            display: none;
            width: 100%;
            border: none;
        }
        &-minislider{
            display: none;
        }
        &-mini{
            display: none;
        }

    }
    .first{
        left: 0;
     }
     .second{
         left: 20%;
     }
     .third{
         left: 40%;
     }
     .fourth{
         left: 60%;
     }
     .fifth{
         left: 80%;
     }
     .sixth{
        display: none;
    }





    .conteiner1 {
        width: 100%;
        margin: 0;
        padding: 0;
        &-mobile {
            display: block;
        }
        &-content {
            position: relative;
            width: 88%;
            margin-left:6%;
            margin-right:6%;
            min-height: 782px;
            margin: 0 auto;
            padding: 0;
            border: none;
            padding-bottom: 70px;
            padding-top: 70px;
        }
        &-text {
            position: static;
            width: 100%;
            height: auto;
            margin: 71px  0px 0px 0px;
        }
        &-text h1 {
            display: none;
        }
        &-mobile h1{
            position: static;
            width: 100%;
            margin: 0;
            padding: 0;
            padding-bottom: 70px;
            text-align: center;
            font-size: 20px;
            line-height: 140.8%;
            letter-spacing: 0.105em;
            text-transform: uppercase;
        }
        &-text p {
            width: 100%;
            margin-top: px;
            font-size: 18px;
            line-height: 147.8%;
            letter-spacing: 0.06em;
        }
        &-photo {
            position: static;
            width: 100%;
        }
        &-vector{
            position: absolute;
            width: 85%;
            top: 220px;
            right: none;
            left: -3%;
        }
    }



    .conteiner2 {
        &-content {
            position: relative;
            width: 100%;
            min-height: 1400px;
            margin: 0 auto;
            padding: 0;
            padding-bottom: 10px;
            border-left: $borderBlack 1px solid;
        }
        &-title{
            width: 4%;
            margin-left: 8%;
            margin-top: 26%;
        }
        &-photo{
            position: static;
            width: 80%;
            margin-left: 8%;
            left: 100px;
        }
        &-text{
            min-height: 782px;
            position: relative;
            width: 88%;
            padding-left:6%;
            padding-right:6%;
            border-top: $borderBlack 1px solid;
        }
        &-vector{
            width: 70%;
            left: 25%;
        }
        &-subtitle{
            width: 88%;
            position: static;
            margin-top: 55px;
            font-size: 18px;
            line-height: 155.8%;
            letter-spacing: 0.18em;
            text-transform: uppercase;
        }
        &-ul{
            width: 88%;
            font-size: 18px;
            line-height: 147.8%;
            letter-spacing: 0.06em;
            margin: 0px;
            padding: 0px;
            padding-bottom: 30px;
            margin-top: 0px;
            margin-left: 0px;
            list-style-type: none;
        }
        &-li{
            width: 90%;
            min-height: 35px;
            margin: 0px;
            padding: 0px;
            margin-top: 40px;
            background-image: url(/img/livector.png);
            padding-left: 65px;
            background-position: 0px 0px;
            background-size: 35px 35px;
            background-repeat: no-repeat;
        }

    }

    .small{
        min-height: 1100px;
        &-photo{
            height: auto;
        }
    }

    .conteiner2 button{
        width: 100%;
        margin: 0;
        margin-top: 30px;
    }

    .conteiner3 {
        &-content {
            width: 100%;
            padding-bottom: 60px;
        }
        &-title{
            margin: 0;
            padding: 0;
            padding-top: 60px;
            text-align: center;
            font-size: 20px;
            line-height: 140.8%;
            letter-spacing: 0.105em;
        }
        &-ul{
            margin: 0;
            padding: 0;
            width: 88%;
            margin-left:6%;
            margin-right:6%;
            font-size: 18px;
            line-height: 147.8%;
            letter-spacing: 0.06em;
        }
        &-li{
            width: 100%;
            margin: 0;
            padding: 0;
            margin-top: 60px;
            background: none;     
            text-transform: capitalize;     
        }
        &-hr{
            margin-top: 60px;
            width: 100%;
        }
    }

    .conteiner4 {
        border-top: none;
        &-content {
            width: 100%;
            display: flex;
            flex-flow: wrap;
            border-top: $borderBlack 1px solid;
            border-right: none;
            padding-bottom: 20px;
        }
        &-title{
            position: static;
            width: 4%;
            height: fit-content;
            margin-left: 8%;
            margin-top: 25%;
            top: 0;
            order: 1;
        }
        &-photo{
            float: left;
            position: static;
            width: 80%;
            margin-left: 0%;
            border-right: $borderBlack 1px solid;
            order: 0;
        }
        &-text{
            float: right;
            padding: 0;
            margin: 0;
            min-height: 782px;
            position: relative;
            width: 88%;
            padding-left:6%;
            padding-right:6%;
            border-top: $borderBlack 1px solid;
            order: 2;
        }
        &-vector{
            width: 70%;
            left: 5%;
            top: 40px;
        }
        &-subtitle{
            width: 88%;
            position: static;
            margin-top: 55px;
            font-size: 18px;
            line-height: 155.8%;
            letter-spacing: 0.18em;
            text-transform: uppercase;
        }
        &-ul{
            width: 88%;
            font-size: 18px;
            line-height: 147.8%;
            letter-spacing: 0.06em;
            margin: 0px;
            padding: 0px;
            padding-bottom: 30px;
            margin-top: 0px;
            margin-left: 0px;
            list-style-type: none;
        }
        &-li{
            width: 90%;
            min-height: 35px;
            margin: 0px;
            padding: 0px;
            margin-top: 40px;
            background-image: url(/img/livector.png);
            padding-left: 65px;
            background-position: 0px 0px;
            background-size: 35px 35px;
            background-repeat: no-repeat;
        }
    }

    .conteiner4 button{
        width: 100%;
        margin: 0;
        margin-top: 30px;
    }


    .conteiner5 {
        width: 100%;
        border-top: none;
        &-content {
            position: relative;
            width: 88%;
        }
        &-content img{
            position: static;
            margin-bottom: 60px;
        }
        &-img1{
            position: static;
            top: 0px;
            left: 0px;
            width: 100%;
            display: none;
        }
        &-img3{
            position: static;
            top: 0px;
            left: 0px;
            width: 100%;
        }
        &-img4{
            position: static;
            top: 0px;
            left: 0px;
            width: 100%;
        }
        &-img2{
            position: static;
            top: 0px;
            left: 0px;
            width: 100%;
        }
        &-img5{
            position: static;
            top: 0px;
            left: 0px;
            width: 100%;
            display: none;
        }
        &-vector1{
            display: none;
        }
        &-vector2{
            display: none;
        }
    }
    .photo3{
        width: 100%;
    }
    .photo1, .photo2, .photo5, .photo4{
        width: 100%;
    }




    .conteiner6 {
        border-top: none;
        &-content {
            width: 100%;
            display: flex;
            flex-flow: wrap;
            border-top: $borderBlack 1px solid;
            border-right: none;
            padding-bottom: 60px;
        }
        &-title{
            position: static;
            width: 4%;
            height: fit-content;
            margin-left: 8%;
            margin-top: 27%;
            top: 0;
            order: 1;
        }
        &-photo{
            float: left;
            position: static;
            width: 80%;
            margin-left: 0%;
            border-right: $borderBlack 1px solid;
            order: 0;
        }
        &-text{
            float: right;
            padding: 0;
            margin: 0;
            min-height: 782px;
            position: relative;
            width: 88%;
            padding-left:6%;
            padding-right:6%;
            border-top: $borderBlack 1px solid;
            order: 2;
        }
        &-vector{
            width: 70%;
            left: 5%;
            top: 40px;
        }
        &-subtitle{
            width: 88%;
            position: static;
            margin-top: 55px;
            font-size: 18px;
            line-height: 155.8%;
            letter-spacing: 0.18em;
            text-transform: uppercase;
        }
        &-p{
            width: 100%;
            margin-top: 40px;
        }
    }

    .conteiner6 button{
        width: 100%;
        margin: 0;
        margin-top: 30px;
    }


    
    
    .subtitle1, .subtitle2 {
        height: 28px;
        padding: 31px 0px 31px 0px;
        &-conteiner {
            width: 100%;
            border-right: none;
            border-left: none;
        }
        &-lamp{
            display: none;
        }
        &-mobilelamp{
            display: block;
            height: 100%;
        }
        &-h1 {
                position: static;
                transform: none;
                text-align: center;
                position: static;
                font-size: 20px;
                line-height: 140.8%;
                letter-spacing: 0.105em;
                text-transform: uppercase;
        }
    }

    .conteiner7 {
        width: 100%;
        &-content {
            position: relative;
            width: 88%;
            margin-left: 6%;
            min-height: 621px;
        }
        &-title{
            margin: 50px 0px;
            padding: 0;
            width: 85%;
            padding-left: 15%;
            font-size: 18px;
            line-height: 155.8%;
            /* or 28px */

            letter-spacing: 0.18em;
        }
        &-text{
            margin: 0;
            padding: 0;
            width: 85%;
            padding-left: 15%;
            font-size: 18px;
            line-height: 147.8%;
            /* or 27px */

            letter-spacing: 0.06em;
        }
        &-lightbutton{
            width: 100%;
            margin: 0;
            margin-bottom: 20px;
        }
        &-darkbutton{
            width: 100%;
            margin: 0;
            margin-bottom: 20px;
        }
    }


    .conteiner8{
        &-content{
            min-height: 1050px;
            width: 91%;
            margin-left:4.5%;
            margin-right:4.5%;
            border-right: 1px #030303 solid;
            border-left: 1px #03030300 solid;
            z-index: 1;
        }
        &-lamp{
            display: block;
            position: absolute;
            right: 0;
            width: 100%;
            height: auto;
        }
        &-your{
            color: black;
        }
        &-instagram{
            display: none;
        }
        &-instagram2{
            display: block;
            float: left;
            width: 60px;
            text-align: center;
            height: 362px;
            background-color: #ffffff;
            z-index: 100;
            border-right: 1px #030303 solid;
            border-bottom: 1px #030303 solid;
        }
        &-instagramname{
            height: 205px;
            margin-top: 69px;
        }
        &-instagramlogo{
            margin-top: 15px;
            width: 21px;
        }
        &-title{
            float: left;
            font-size: 33px;
            width: 70%;
            margin: 0 auto;
            margin-top: 90px;
            margin-left: 2%;
        }
        &-photo{
            position: static;
            padding: 0;
            margin: 0;
            width: 100%;
            height: fit-content;
            border-top: 1px #030303 solid;
            margin: 0;
            padding: 0;
        }
        &-photo img{
            width: 100%;
        }
        &-text{
            width: 100%;
            margin: 0;
            padding: 0;
            margin-top: 46px;
        }
    }

    

    .conteinerStyle {

        &-content {
            width: 80%;
            min-height: 718px;
            margin: 0 auto;
            padding: 0;
            border: none;
            margin-left: 10%;
            display: flex;
            flex-flow: wrap;
            padding-top: 60px;
        }
        &-content img{
            position: static;
            top: 0%;
            left: 0%;
            // margin-right: -50%;
            transform: translate(-0%, -0%);
        }
        &-styleitem{
            position: relative;
            min-height: 0px;
            width: 80%;
            z-index: 1;
            margin: 0;
            padding: 0;
            margin-left: 10%;
            margin-bottom: 60px;
        }
        &-item1{
            order: 4;
            height: auto ;
            top: 0;
            left: 0;
        }
        &-item2{
            order: 0;
            height: auto ;
            top: 0;
            left: 0;
        }
        &-item3{
            order: 5;
            height: auto ;
            top: 0;
            left: 0;
        }
        &-item4{
            order: 3;
            height: auto ;
            top: 0;
            left: 0;
        }
        &-item5{
            order: 2;
            height: auto ;
            top: 0;
            left: 0;
        }
        &-item6{
            order: 1;
            height: auto ;
            top: 0;
            left: 0;
        }



        &-item1 p{
            padding-top: 0%;
            margin-top: 45%;
        }
        &-item2 p{
            padding-top: 0%;
            margin-top: 40%;
        }
        &-item3 p{
            padding-top: 0%;
            margin-top: 25%;
        }
        &-item4 p{
            padding-top: 0%;
            margin-top: 55%;
        }
        &-item5 p{
            padding-top: 0%;
            margin-top: 12%;
        }
        &-item6 p{
            padding-top: 0%;
            margin-top: 50%;
        }
        &-active{
            margin-left: 0%;
            width: 100%;
            transform: translate(0%, 0%);
            z-index: 1000;
            transition: all 500ms;
        }
        &-link{
            color: #000000;
        }
        &-active p{
            opacity: 100%;
            display: block;
        }
    }

    .move :hover{
        margin-top: 0px;
        margin-left: -10%;
        width: 120%;
    }
    

    .hoverBlack{
        width: 10px;
        height: 0px;
        overflow: hidden;
        position: absolute;
        top: 100px;
        left: 0;
        display: none;
    }

    .buttons{
        width: 100%;
        padding-bottom: 40px;
    }

    .footer {
        height: auto;
        padding-bottom: 100px;
        &-form{
            position: relative;
            width: 80%;
            margin: 0% 10%;
        }
        &-photo{
            float: left;
            height: 150%;
            width: auto;
            position: absolute;
        }
        &-vector1{
            position: absolute;
            top: 30px;
            left: 30%;
        }
        &-vector2{
            position: absolute;
            top: 130px;
            left: 20%;
        }
        &-vector3{
            position: absolute;
            top: 230px;
            left: 0%;
        }
        &-vector4{
            position: absolute;
            top: 30px;
            left: 35%;
        }
        &-title{
            height: 100%;
            text-align: center;
            padding: 0;
            margin: 70px auto;
            font-size: 20px;
            line-height: 140.8%;
            letter-spacing: 0.105em;
            text-transform: uppercase;
        }
        &-input1{
            float: right;
            margin-right: 28px;
            margin-top: 0px;
            width: 80%;
            height: 50px;
            padding-left: 26px;
            padding-right: 0px;
            border: none;
            background-image: url(/img/livector.png);
            background-position: 100% 50%;
            background-repeat: no-repeat;
            border: $borderBlack 1px solid;
            border-right: none;
            z-index: 100;
        }
        &-input2{
            margin-top: 17px;
            margin-left: -0%;
            width: 85%;
            height: 50px;
            padding-left: 45px;
            padding-right: 26px;
            border: none;
            background-image: url(/img/livector.png);
            background-position: 0% 50%;
            background-repeat: no-repeat;
            z-index: 100;
            border: $borderBlack 1px solid;
            border-left: none;
        }
        &-input3{
            float: right;
            margin-top: 17px;
            margin-right: 50px;
            width: 82%;
            height: 110px;
            padding: 13.5px 4%;
            padding-right: 0px;
            border: none;
            z-index: 100;
            border: $borderBlack 1px solid;
            border-right: none;
        }
        &-button{
            width: 100%;
            margin: 0;
            margin-top: 30px;
        }
        &-livector1{
            position: absolute;
            right: 85px;
            margin-top: 50px;
        }
        &-livector2{
            position: absolute;
            margin-top: 120px;
            left: -23px;
        }
    }
    
}